* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #85FFBD;
background-image: -webkit-linear-gradient(45deg, #85FFBD 0%, #009707 100%);
background-image: -moz-linear-gradient(45deg, #85FFBD 0%, #009707 100%);
background-image: -o-linear-gradient(45deg, #85FFBD 0%, #009707 100%);
background-image: linear-gradient(45deg, #85FFBD 0%, #009707 100%);

}

.box {
    background: #fff;
    width: 40em;
    height: 30em;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    position: absolute;
    top: 15em;
    left: 44em;
    transition: all 1s ease;
}

.image {
    position: relative;
    top: 2em;
    left: 4em;
    transition: all 1s ease;
}

form {
    position: relative;
    top: 5em;
    left: 8em;
    display: flex;
    flex-direction: column;
    width: 25em;
}

input, a {
    padding: .5em;
    margin-bottom: 1em;
    border-radius: 15px;
    border: none;
    font-size: 1em;
    outline: none;
}

input[type=email],
input[type=password] {
    background: #f8f9fa;
    transition: all 1s ease;
}

input[type=email]:hover,
input[type=password]:hover {
    background: #6DB1FF;
    color: #fff;
}

input[type=submit] {
    position: relative;
    background: #6DB1FF;
    color: rgb(0, 0, 0);
    transition: all .5s ease;
    cursor: pointer;
    width: 10em;
    left: 7em;
}

input[type=submit]:hover {
    background: #008FFF;
    color: #fff;
}

a {
    position: relative;
    background: #6DB1FF;
    color: rgb(0, 0, 0);
    transition: all .5s ease;
    cursor: pointer;
    width: 10em;
    left: 2em;
    text-decoration: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

a:hover {
    background: #008FFF;
    color: #fff;
}

.eye {
    position: absolute;
    top: 60px;
    left: 23em;
}

.lne-eye {
    display: flex;
    top: 150rem;
    left: 280px;
    position: relative;
    cursor: pointer;
}

.btns {
    display: flex;
    flex-direction: row;
}

.box .signUp {
    background: #fff;
}

.box .signUp:hover {
    background: #000;
    color: #fff;
}

/* Alertas */

.alertErro {
    display: flex;
    position: relative;
    text-align: center;
    padding: 1em 1em 1em 8.5em;
    background: #f00;
    color: #fff;
    width: 100%;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
}

.alertSucesso {
    display: flex;
    position: relative;
    text-align: center;
    padding: 1em 1em 1em 12em;
    background: rgb(0, 255, 21);
    color: #000;
    width: 100%;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
}