* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: transparent !important;
}

::-webkit-scrollbar-thumb {
    background: #ffe600;
    border-radius: 10px;
}

body {
    background: #222;

}

/*/////////////////
    HEADER
/////////////////*/

header {
    position: absolute;
    width: 100%;
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav {
    display: block;
}

header nav a {
    margin-right: 1.5em;
    color: #fff;
    font-size: 1.2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: all 1s ease;
}

header nav a:hover {
    color: #999;
}

.display-sm {
    display: none;
}

#menu {
    font-size: 1.6em;
    color: #fff;
    z-index: 999;
    position: relative;
    top: 1em;
    left: 1em;
}

.visible {
    display: block !important;
}

/*/////////////////
    MAIN
/////////////////*/

main {
    position: relative;
    top: 4.5em;
    width: 100%;
}

.main {display: flex;
    background: linear-gradient(45deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0)100%), url('../imgs/vigilante-bancário.jpg');
    height: 50em;
    background-size: cover;
}

.wrapper {
    position: relative;
    top: 0;
    left: 0;
    color: #fff;
    font-size: 2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: rgba(0, 0, 0, .5);
    width: 30em;
    height: 25em;
    clip-path: polygon(0 0, 50% 0, 100% 100%, 0 100%);
}

.wrapper .texto {
    position: relative;
    top: 3em;
}

.wrapper .escudo {
    position: relative;
    left: 4em;
    top: 4em;
}

.acoes a {
    position: relative;
    top: 4em;
    left: 6em;
    color: #fff;
    background: #222;
    padding: .5em;
    border-radius: .5em;
    transition: all 1s ease;
}

.acoes a:hover {
    background: #000;
}

/*/////////////////
    SERVIÇOS
/////////////////*/

#Servicos .letter h1 {
    position: relative;
    width: 5.4em;
    margin-top: 2em;
    color: #fff;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 5em;
    letter-spacing: .2em;
    border-bottom: 1px solid #ffe600;
}

.boxes {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 5em;
}

.box-servico {
    color: #fff;
    border-radius: 1em;
    width: 20em;
    height: 25em;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: all 1s ease;
    cursor: pointer;
}

.box-servico ion-icon {
    color: #ffe600;
    font-size: 14em;
    transition: all 1s ease;
}

.box-servico ion-icon:hover {
    font-size: 16em;
    filter: drop-shadow(0 7px 10px #000);
}

.box-servico p {
    font-size: 2em;
}

/*/////////////////
    QUEM SOMOS
/////////////////*/

#QuemSomos .letter h1 {
    position: relative;
    width: 7.4em;
    margin-top: 2em;
    margin-bottom: 1em;
    text-align: center;
    color: #fff;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 5em;
    letter-spacing: .2em;
    border-bottom: 1px solid #ffe600;
}

.time {
    background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .9)100%), url('../imgs/time.jpeg');
    height: 70em;
    background-size: cover;
}

.time p {
    color: #fff;
    position: relative;
    top: 10em;
    left: 0;
    font-size: 5em;
    text-align: center;
}

/*/////////////////
    BENEFICIOS
/////////////////*/

#Beneficios .letter h1 {
    position: relative;
    width: 6.3em;
    margin-top: 2em;
    margin-bottom: 1em;
    color: #fff;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 5em;
    letter-spacing: .2em;
    display: flex;
    border-bottom: 1px solid #ffe600;
}

.list-beneficios {
    color: #fff;
    font-size: 2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    /* margin-left: 12em; */
}

#Beneficios .image ion-icon {
    font-size: 40em;
    color: #ffe600;
    position: relative;
    /* left: .5em; */
    filter: drop-shadow(0 7px 10px #000);
}

#Beneficios .conteudo {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.list-beneficios ul li {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    list-style-type: none;
}

.list-beneficios ul li::before {
    content: '➡';
    display: inline-block;
    margin-right: .5em;
}

/*/////////////////
    CONTATO
/////////////////*/

#Contato {
    margin-top: 4em;
    background: #111;
    display: flex;
}

.contato {
    position: relative;
    font-size: 1.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: rgba(0, 0, 0, .5);
    width: 40em;
    height: 17em;
    -webkit-clip-path: polygon(0 0, 89% 0, 89% 100%, 23% 100%);
    clip-path: polygon(0 0, 50% 0, 100% 100%, 0 100%);
    display: flex;
    flex-direction: column;
}

.contato span {
    color: #fff;
    position: relative;
    top: 8em;
    left: 1em;
    margin-bottom: .2em;
}

.contato a {
    color: #fff;
}

.contato .rs {
    color: #fff;
    font-size: 2em;
    position: relative;
    left: 1em;
}

.img {
    display: flex;
    align-items: center;
}

.img h1 {
    color: #fff;
    text-align: center;
    font-size: 1em;
}

.img img {
    margin-left: .7em;
    width: 100px;
}

/*/////////////////
    FOOTER
/////////////////*/

footer {
    color: #fff;
    position: relative;
    bottom: 0;
    width: 15em;
}

footer a {
    color: #fff;
}

/*/////////////////
    QUERIES
/////////////////*/

@media screen and (max-width: 750px) {
        /*/////////////////
    HEADER
/////////////////*/

    /* header {
        display: none;
    } */

    .display-sm {
        display: inline-flex;
    }
    .nav{
        display: none;
        flex-direction: column;
        z-index: 999;
        /* width: 7em; */
        background: #000;
        position: relative;
        top: 5em;
        left: -2em;
        font-size: 1.5em;
        border-radius: .2em;
        padding: .5em;
    }
    .nav a {
        display: flex;
        margin-bottom: .5em;
    }
    /*/////////////////
    MAIN
/////////////////*/

    main {
        top: 0;
        width: 100%;
    }

    .main {
        background: none;
    }
    .wrapper {
        width: 14.2em;
        clip-path: none;
        font-size: 1em;
        width: 100%;
        height: 45em;
    }
    .wrapper .escudo, .wrapper img {
        width: 15em;
        left: 5.5em;
        top: 7em;
    }

    .wrapper .texto {

        top: 7em;
        text-align: center;
        font-size: 1.2em;
    }
    .acoes a {
        left: 5em;
        top: 10em;
        font-size: 1.2em;
    }

    /*/////////////////
    SERVIÇOS
/////////////////*/
    #Servicos .letter h1 {
        left: .9em;
        font-size: 3.5em;
    }
    .boxes {
        flex-direction: column;
    }
    /*/////////////////
    QUEM SOMOS
/////////////////*/
    #QuemSomos .letter h1 {
        left: 1.2em;
        font-size: 3.5em;
        width: 5em;
    }
    .time {
        background: none;
        height: 25em;
    }

    .time p {
        top: 1em;
        font-size: 2em;
    }
    /*/////////////////
    BENEFIÍCIOS
/////////////////*/
    #Beneficios .letter h1 {
        left: 1em;
        font-size: 3em;
    }
    .list-beneficios {
        margin-left: 0;
        font-size: 1.1em;
    }
    #Beneficios .image ion-icon {
        left: 0;
        font-size: 20em;
    }
    #Beneficios .conteudo {
        flex-direction: column;
    }
    /*/////////////////
    CONTATO
/////////////////*/
    #Contato {
        flex-direction: column;
    }
    .contato {
        width: 25.7em;
        clip-path: none;
        font-size: 1em;
    }
    .contato .rs {
        display: flex;
        width: 5em;
    }
    .img {
        display: flex;
        position: relative;
        left: 7em;
        width: 4em;
    }
    .img h1 {
        font-size: 1em;
    }
    .img img {
        width: 100px;
    }
    /*/////////////////
    FOOTER
/////////////////*/
    footer {
        top: 6em;
        padding-bottom: 1em;
    }
}

@media screen and (min-width: 760px) {
}